/*geral*/

body,
html {
    font-family: 'Kanit', sans-serif;
}

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

/*geral*/

/*header, nav*/

#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1rem;
    font-size: 18px;
}

#header .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    border-bottom: solid 2px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 2px var(--primary);
    color: var(--primary);
    transform: scale(1.05);
}

#header .navbar-brand {
    font-weight: 500;
    color: black;
}

#header .navbar-brand:hover {
    color: var(--primary);
    transform: scale(1.05);
}

#header.active {
    position: fixed;
    background: black;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .4);
    z-index: 9999;
    transition: all ease-in-out .2s;
}

#header.active a {
    color: white;
}

#header.active a:hover {
    color: white;
    transform: scale(1.05);
    border-color: white;
}

.navbar-toggler {
    background-color: white;
}

/*header, nav*/

#slider img {
    border-radius: 5px;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 700;
}

#slider h4 {
    text-transform: uppercase;
    font-size: 18px;
}

#sobre h1 {
    border-bottom: 1px solid green;
    padding-bottom: 5px;
}

/*como-funciona*/

#como-funciona .passo-a-passo {
    background-color: #7df38d18;
    border-radius: 5px;
    display: flex;
    padding: 30px;
}

#como-funciona .passo-a-passo .img-icone {
    max-width: 35px;
}

#como-funciona .passo-a-passo .pass-text {
    color: black;
}

#como-funciona .passo-a-passo .pass-text span {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

#como-funciona a.passo {
    display: block;
    background: #7df38d7a;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#como-funciona a.passo:hover {
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    transform: scale(1.05);
}

/*como-funciona*/

#style-footer {
    width: 75px;
}

/*contato*/

.contato {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background-color: black;
    color: white;
}

.social-icons a {
    font-size: 1.5em;
    margin-right: 3%;
    color: white;
    text-decoration: none;
}

.social-icons a {
    transform: scale(1.05);
}

/*contato*/

/*projetos*/

#projetos img {
    width: 350px;
    height: 130px;
    border-radius: 5px;
}

#projetos .card {
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

#projetos h1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid green;
}

#projetos .card {
    margin-top: 40px;
}

#projetos .card .pass-text span {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

#projetos a.card {
    display: block;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#projetos a.card:hover {
    background: #fff;
    cursor: pointer;
    transform: scale(1.06);
}

/*projetos*/

/*projetos-view*/

#card-view {
    height: 400px;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    padding: 30px;
}

#card-view h2 {
    text-align: center;
}

.button2 {
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
}

#view {
    height: 10vh;
}

#view img {
    width: 745px;
    padding-right: 2%;
    max-height: 400px;
    border-radius: 5px;
}

#text-info {
    margin-top: 100px;
    border-top: 1px solid green;
    padding-top: 30px;
}

#view p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.infot-text {
    font-weight: 600;
}

.info-text {
    margin-bottom: 30px;
    text-align: justify;
    font-size: 20px;
    border-bottom: 1px solid green;
}

/*projetos-view*/

/*cadastro de projetos*/

#main-container2 {
    box-shadow: solid 2px black;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-top: 5vh;
    border-radius: 10px;
    text-align: center;
}

#main-container h1 {
    font-weight: 500;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn-cadastrar {
    border-radius: 20px;
    background: #4ab653;
    color: white;
    text-transform: uppercase;
    border: none;
}

#btn-cadastrar:hover {
    background: green;
    transition: ease-in-out .4s;
}

#descricao {
    margin-bottom: 10px;
}

#valor {
    margin-top: 10px;
}

/*cadastro de projetos*/