h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.title {
    text-transform: uppercase;
}

a {
    color: var(--primary);
}

a:hover {
    color: #3ac74d;
}

.button {
    text-transform: uppercase;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border-radius: 8px;
}

.button-primary-outline {
    border-color: var(--primary);
    text-transform: solid rgba(0, 128, 0, 0.658);
    color: black;
}

.button-primary-outline:hover {
    transition: .8s;
    background-color: #00822e;
    border-color: white;
    color: white;
}

.block {
    margin-bottom: 120px;
}

.block2 {
    margin-bottom: 200px;
}
.space{
    margin-top: 120px;
}

#how-text {
    font-size: 20px;
    text-align: justify;
}